{% extends 'base.html' %}

{% load static %}

{% block title%}トップページ{%endblock %}

{% block header %}

<header class="masthead text-center text-black">
  <div class="masthead-content">
    <div class="container px-5">
      <h1 class="masthead-heading mb-0">Private Library</h1>
      <h2 class="masthead-subheading mb-0">本の管理アプリ</h2>
      <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#">LOG IN</a>
    </div>
  </div>
</header>

{% endblock %}

{% block contents %}
<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Private Library</h2>
          <p>
            Web上で読みたい本や読んだ本の管理と貸出期限の管理ができるアプリ
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">Book</h2>
          <p>
            本のタイトル、著者、出版社、ジャンル、貸出期限、読書メモを登録できる
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Management</h2>
          <p>
            貸出中の本の管理、貸出期限の管理、読書メモの管理ができる
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
  
{% endblock %}