body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* ナビゲーションの高さを考慮してヘッダーにマージンを追加 */
body,
#header {
    margin-top: 56px;
    /* ナビゲーションバーの高さに合わせて調整 */
}

footer {
  margin-top: auto;
}
